.footer {
    background-color: #2d2e82;
    color: white;
    padding: 1.5rem 2rem;
}

.footerContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 0.9rem !important;
}

.footerLogo {
    height: 40px;
    width: auto;
}